DATABASE_URL="mysql://root:Sanghyun12!!@127.0.0.1:3306/westagram_1"

PORT=3000

DB_TYPE=rdbms_type
DB_HOST=db_host
DB_PORT=db_port
DB_USERNAME=db_username
DB_PASSWORD=db_password
DB_DATABASE=db_name

PORT = server_port
